.a:hover {
  color: none;
}

#mission-section {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 70px;
}

#intro-cybercamp-section {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 70px;
}

.navbar .navbar-brand {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
}

.jumbotron-home {
  background-image: url('../img/jumbo-cybersec.png');
  background-size: cover;
  padding-top: 200px;
}

.jumbotron-cybercamp {
  background-image: url('../img/jumbo-cybercamp.png');
  background-size: cover;
  padding-top: 200px;
}

.card-role {
  font-size: 14px;
}

.card-title-lightblue {
  color: #3b94d9;
}

.card-title-admin {
  color: #17a2b8;
}

#advisor-section {
  color: #3b94d9;
  text-shadow: 2px 2px 2px #D3D3D3;
}

#admin-section {
  color: #17a2b8;
  text-shadow: 2px 2px 2px #D3D3D3;
}

.projects-header {
  color: #ffffff;
}

.card-header:first-child {
  background: #343a40;
}

.other-page-links {
  font-weight: bold;
  color: #3b94d9;
}

.light-blue-font {
  font-weight: bold;
  color: #3b94d9;
}

.black-bold-font {
  font-weight: bold;
}

.fancy-font {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.btn-primary {
  color: #ffffff;
  background-color: #3b94d9;
  background-image: none; 
  border-color: #3b94d9;
}

.contact-info a {
  color: #343a40;
  padding: 10px;
  display: inline-block;
}

#slack-icon {
  height: 50px;
}

.btn-outline-light {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.darkgray-font {
  color: #343a40;
}

.footer-row {
  background-color: #343a40;
}